@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/fonts/Montserrat-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('/fonts/Montserrat-Medium.otf') format('truetype');
    font-weight: medium;
    font-style: normal;
}

.header-container .company-name {
    /* font-family: 'Montserrat-Medium', Arial, sans-serif !important; */
    /* font-size: 20px; */
}


.kgs,
.hero1-title {
    font-family: 'Montserrat-Bold', Arial, sans-serif !important;
}