.slideshowContainer {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 450px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.active {
    opacity: 1;
}