.slideshow {
    width: 600px;
    height: 350px;
    position: relative;
    /* overflow: hidden; */
    border-radius: 12px;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}